<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text">Street</label>
    <input
      class="input-field"
      placeholder="Type street"
      type="text"
      [ngModel]="address()?.street"
      name="street"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text">Number</label>
    <input
      class="input-field"
      placeholder="Type street number"
      type="text"
      [ngModel]="address()?.number"
      name="number"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text">City</label>
    <input
      class="input-field"
      placeholder="Type city"
      type="text"
      [ngModel]="address()?.city"
      name="city"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text">Zipcode</label>
    <input
      class="input-field"
      placeholder="Type zipcode"
      type="text"
      [ngModel]="address()?.zipcode"
      name="zipcode"
    />
  </div>
  <div class="form-group sm:col-span-2" ngx-control-wrapper>
    <label class="label-text">Country</label>
    <input
      class="input-field"
      placeholder="Type country"
      type="text"
      [ngModel]="address()?.country"
      name="country"
    />
  </div>
</div>
