<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text" [attr.for]="fieldIds().street">Street</label>
    <input
      [id]="fieldIds().street"
      class="input-field"
      placeholder="Type street"
      type="text"
      [ngModel]="address()?.street"
      name="street"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text" [attr.for]="fieldIds().number">Number</label>
    <input
      [id]="fieldIds().number"
      class="input-field"
      placeholder="Type street number"
      type="text"
      [ngModel]="address()?.number"
      name="number"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text" [attr.for]="fieldIds().city">City</label>
    <input
      [id]="fieldIds().city"
      class="input-field"
      placeholder="Type city"
      type="text"
      [ngModel]="address()?.city"
      name="city"
    />
  </div>
  <div class="form-group" ngx-control-wrapper>
    <label class="label-text" [attr.for]="fieldIds().zipcode">Zipcode</label>
    <input
      [id]="fieldIds().zipcode"
      class="input-field"
      placeholder="Type zipcode"
      type="text"
      [ngModel]="address()?.zipcode"
      name="zipcode"
    />
  </div>
  <div class="form-group sm:col-span-2" ngx-control-wrapper>
    <label class="label-text" [attr.for]="fieldIds().country">Country</label>
    <input
      [id]="fieldIds().country"
      class="input-field"
      placeholder="Type country"
      type="text"
      [ngModel]="address()?.country"
      name="country"
    />
  </div>
</div>
