:host {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1024px) {
  :host {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
