{
  "branches": [
    "master",
    {
      "name": "release/v1.x",
      "range": "1.x"
    },
    {
      "name": "next",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "rc",
      "prerelease": "rc"
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "feat/*",
      "prerelease": "feat-${((typeof name === 'string' && name.replace(/^feat\\//, '').replace(/[^a-zA-Z0-9-_]/g, '')) ? name.replace(/^feat\\//, '').replace(/[^a-zA-Z0-9-_]/g, '') : 'branch') || 'branch'}"
    },
    {
      "name": "fix/*",
      "prerelease": "fix-${((typeof name === 'string' && name.replace(/^fix\\//, '').replace(/[^a-zA-Z0-9-_]/g, '')) ? name.replace(/^fix\\//, '').replace(/[^a-zA-Z0-9-_]/g, '') : 'branch') || 'branch'}"
    }
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/ngx-vest-forms"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
