{
  "branches": [
    "master",
    {
      "name": "release/v1.x",
      "range": "1.x.x",
      "channel": "release-1.x"
    },
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "feat/*",
      "prerelease": "feat-${name.replace(/feat\//g, '').replace(/[^a-zA-Z0-9-_]/g, '')}"
    },
    {
      "name": "fix/*",
      "prerelease": "fix-${name.replace(/fix\//g, '').replace(/[^a-zA-Z0-9-_]/g, '')}"
    }
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/ngx-vest-forms"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
