<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
  <div ngx-control-wrapper class="form-group">
    <label class="label-text" for="from">From</label>
    <input
      id="from"
      mask="00:00"
      placeholder="00:00"
      type="text"
      [ngModel]="businessHour()?.from"
      name="from"
      class="input-field"
    />
  </div>

  <div ngx-control-wrapper class="form-group">
    <label class="label-text" for="to">To</label>
    <input
      id="to"
      mask="00:00"
      placeholder="00:00"
      type="text"
      [ngModel]="businessHour()?.to"
      name="to"
      class="input-field"
    />
  </div>
</div>
