/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}
button {
  @apply mb-2 me-2 rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
fieldset {
  @apply grid gap-4 sm:grid-cols-2 sm:gap-6;

  label span {
    @apply mb-2 block text-sm font-medium text-gray-900 dark:text-white;
  }

  .ngx-control-wrapper {
    select,
    input[type='text'],
    input[type='number'],
    input[type='password'] {
      @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 text-sm text-gray-900 focus:border-primary-600 focus:ring-primary-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500;
    }

    &--invalid {
      label span {
        @apply mb-2 block text-sm font-medium text-red-700 dark:text-red-500;
      }

      select,
      input[type='text'],
      input[type='number'],
      input[type='password'] {
        @apply block w-full rounded-lg border border-red-500 bg-red-50 text-sm text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500 dark:border-red-500 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500;
      }
    }

    &__errors {
      @apply mt-2 text-sm text-red-600 dark:text-red-500;
    }

    .radio-button {
      @apply mb-4 flex items-center;
      label {
        @apply ms-2 block text-sm font-medium text-gray-900 dark:text-gray-300;
      }

      input[type='radio'] {
        @apply h-4 w-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:border-gray-600 dark:bg-gray-700 dark:focus:bg-blue-600 dark:focus:ring-blue-600;
      }
    }
    input[type='checkbox'] {
      @apply h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800;
    }
  }
}
