name: CD
on:
  push:
    branches:
      - master
      - 'release/**'

permissions:
  contents: write  # For creating releases and updating changelog
  issues: write    # For commenting on issues
  pull-requests: write  # For commenting on PRs
  id-token: write  # For provenance

jobs:
  cd:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install
        run: npm ci
      - name: Playwright install
        run: npx playwright install
      - name: Build
        run: npm run build:ci
      - name: Test
        run: npm run test:ci
      - name: Storybook
        run: npm run storybook:build
      - name: Integration test
        run: npm run storybook:test
      - name: Publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
